# ---------------- Python ignores ----------------
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

*.env
API_KEYS.env

*.whl
*.exe
*.dll

PyWhatKit_DB.txt
codeGemma.py
message,py.py
message.py
text_to_speech.py

# Miscellaneous
*.class
*.log
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# ---------------- Flutter / Dart ignores ----------------
# VSCode config (uncomment if you don’t want to track it)
#.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

home.dart
